# Temp files
.DS_Store
*~
buck-out/

# Compiled files
.venv/
__pycache__/
.*cache/

# Distribution / packaging
/dist/

# Tests and coverage
/data/
/node_modules/
/.coverage*

# docs
/docs/generated/
/docs/_build/

# Paper
*.md
*.png

# Plots
*.svg

# Data
*.h5mu
*.h5ad
*.tsv


# Tests
docs/tutorials/wu2026/**
docs/tutorials/ai2025-1/**
docs/tutorials/ai2025-2/**
docs/tutorials/wishdia2023/**
